<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springserver.dao.HelloDao">

    <resultMap id="helloMap" type="com.springserver.po.HelloEntity">
        <!--<id property="id" column="pk_id" />-->
        <result property="pkid" column="PK_Id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
    </resultMap>
    <select id="getHello" parameterType="int" resultMap="helloMap">
        <![CDATA[
          SELECT PK_Id, Name, Age FROM hello_table LIMIT 1
        ]]>
    </select>

    <insert id="insertHello" parameterType="com.springserver.po.HelloEntity">
        <![CDATA[
          INSERT INTO hello_table (PK_Id,Name,Age) VALUE (#{pkid},#{name},#{age})
        ]]>
    </insert>

    <delete id="deleteHello" parameterType="com.springserver.po.HelloEntity">
        DELETE FROM hello_table WHERE pk_id =  #{pkid,jdbcType=INTEGER}
    </delete>
    <!--<resultMap id="currencyResultMap" type="com.the9.qjrun.po.account.Currency">-->
        <!--<id property="id" column="pk_id" />-->
        <!--<result property="currency1" column="currency1"/>-->
        <!--<result property="currency2" column="currency2"/>-->
        <!--<result property="currency3" column="currency3"/>-->
        <!--<result property="currency4" column="currency4"/>-->
        <!--<result property="currency5" column="currency5"/>-->
    <!--</resultMap>-->
    <!--<select id="getCurrenciesByList" parameterType="int" resultMap="currencyResultMap">-->
        <!--<![CDATA[-->
          <!--select pk_id,currency1,currency2,currency3,currency4,currency5 from currency_table-->
        <!--]]>-->
    <!--</select>-->

    <update id="updateHello" parameterType="com.springserver.po.HelloEntity" >

          update hello_table
        <set>
            <if test="pkid != null">
                Name = #{name}
            </if>
        </set>
                WHERE PK_Id = #{pkid,jdbcType=INTEGER}
    </update>

</mapper>